*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.contain-header{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.play{
    height: 70px;
    padding: 10px;
}

.select{
    height: 70px;
    padding: 10px;
    margin-left: 25px;
}

.container{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.square{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 206, 79);
    border: 1px solid white;
}

.clicked{
    background-color: rgb(15, 28, 146);
}

.red{
    background-color: red;
}

.events-none{
    pointer-events: none;
}